.two-factor-login-component {
  display: flex;
  align-items: center;
  min-height: 80vh;
  background-color: #FFF1DF;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0;


  .card {
    width: 100%;
    max-width: 450px;
    padding: 50px;
  }

  .change-email {
    position: absolute;
    right: 52px; 
    font-size: 0.9rem; 
    color: #333; 
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: #e45016; 
    }
  }

  .resend-code {
    position: absolute;
    left: 52px; 
    font-size: 0.9rem; 
    color: #333; 
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: #e45016; 
    }
  }

  h1 {
    font-family: "Bitter", serif;
    font-weight: bold;
    font-size: 32px; 
    color: #333; 
  }

  p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px; 
    margin-top: 0;
    color: #777; 
  }
}
