.dashboard-wrapper {
    display: flex;
    .dashboard-container{
        padding:3em;
        width: 100%;
        .dashboard-head {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .account-info-card{
                padding: 1em;
                font-family: 'Inter';
                line-height: 19px;;
                align-items: center;
                display: flex;
                .account-info{
                    display: flex;
                    min-width: 200px;
                    text-align: left;
                    justify-content: space-between;
                    align-items: center;
                    h4{
                        font-size:16px;
                        font-weight:500;
                    }
                    span{
                        font-size:14px;
                        font-weight: normal;;
                    }
                    svg path{
                        fill: black;
                    }
                }
                .account-info:hover{
                    cursor:pointer;
                    svg{
                        transform: scale(1.3);
                    }
                }
            }

            .user-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 270px;
                svg {
                    transform: rotate(90deg);
                    path{
                        fill: black;
                    }
                }
                .card{
                    padding: 1em;;
                    font-family: 'Bitter';
                    font-size:24px;
                    line-height: 28px;
                    font-weight: 500;
                }
                .user{
                    font-family: 'Inter';
                    text-align: left;
                    align-items: center;

                    h4{
                        font-size:16px;
                        font-weight: 500;
                        line-height: 19px;;
                    }
                    span{
                        font-size:14px;
                        line-height: 17px;
                    }
                }
            }
        }
        .stats-head{
            display: flex;
            justify-content: space-between;

            span.stats-title{
                font-family: 'Bitter';
                font-weight:600;
                font-size: 24px;;
                line-height: 29px;;
            }
        }
        .campaign-charts{
            justify-content: space-around;
            margin: 2em 0;
            .stat-wrapper {
                max-width: 140px;
            }
        }
        .dashboard-stats{
            width: 100%;
        }
        .dashboard-ctas{
            margin:1em 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            svg{
                margin-right: 10px;;
                path{
                    fill:black;
                }
            }
            .btn{
                width: 32%;
                font-family: 'Bitter';
                font-weight:600;
                font-size: 18px;;
                line-height: 22px;;
            }
        }
        .columns-2{
            width:100%;
            display: flex;
            justify-content: space-between;
            .card{
                width:49%;
            }
        }
    }
}