.icon {
	display: inline-block;
	vertical-align: middle;
	path{
		fill:#100F1C!important;
	}
}

li:hover .icon {
	path{
		fill:#FF635D!important;
	}
}

li.active .icon {
	path{
		fill:#FF635D!important;
	}
}