.page-name-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.button-filters {
	min-width: 184px;
	min-height: 51px;
}
.subscribers {
	.p-datatable .p-datatable-table .p-datatable-tbody > tr {
		height: 62px;
	}
}

div.subscriber-filters-card > div,
div.subscriber-filters-card > div > div {
	flex: 1;
}
