// src/components/SearchBar/SearchBar.scss

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  
  .input-wrapper {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .search-button {
    min-height: 51px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Desktop styles - ensure they remain unchanged */
@media (min-width: 769px) {
  .search-bar-container {
    flex-direction: row;
    
    .input-wrapper {
      margin-right: 10px;
    }
    
    .search-button {
      width: auto;
      min-width: 100px;
    }
  }
}

// Responsive styles for smaller screens
@media (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
    width: 100%;
    
    .input-wrapper {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .search-button {
      width: 100%;
      min-width: 100%;
    }
  }
}