.card {
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(218, 209, 197, 1);
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	
	@media (max-width: 768px) {
		padding: 15px;
		margin-bottom: 15px;
	}
}

/* Special styles for mobile dashboard card layouts */
@media (max-width: 768px) {
	.dashboard-stats {
		padding: 10px !important;
		
		.stats-head {
			.stats-title {
				font-size: 20px !important;
			}
		}
	}
	
	.campaign-stats-card-wrapper {
		flex-direction: column !important;
		margin-bottom: 15px !important;
		
		.campaign-stats-card-item {
			margin-bottom: 15px;
		}
	}
	
	.latest-campaigns-card {
		.p-datatable .p-datatable-tbody > tr > td {
			padding: 8px !important;
		}
		
		.p-datatable .p-datatable-tbody > tr {
			height: auto !important;
		}
	}
}