
.pagination{
    justify-content: center;
    .btn{
        padding: 7px 12px;
        margin-right: 3px;
        min-height: 35px;
        .icon{
            display: none;
        }
        background: rgba(255, 255, 255, 0.25);
    }
}