.page-name-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.progress-bar {
	width: 100%;
	height: 5px;
	background-color: #fdece8;
	border-radius: 5px;
	overflow: hidden;
}

.progress {
	width: 70%;
	height: 100%;
	background-color: #ff4a4a;
	border-radius: 5px;
}

.stats-card {
	flex: 1;
}

.campaing-stats-card-item {
	flex: 1;
}

.campaing-stats-card p {
	text-align: left;
}

.campaing-stats-card-item-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

div.campaing-stats-card-item p.stat-number {
	font-size: 32px;
	font-weight: 600;
}

.stats-container .stat-heading {
	font-family: 'Bitter', serif;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 24px;
	text-align: left;
}

.page-sent-at {
	color: rgba(136, 125, 118, 1);
	font-size: 14px;
	text-align: left;
}

.page-sent-at .icon path {
	fill: rgba(136, 125, 118, 1) !important;
}

.campaing-stats-card-item-header {
	font-size: 14px;
	font-weight: 500;
	color: rgba(136, 125, 118, 1);
}

p.stat-table-heading {
	color: rgba(136, 125, 118, 1);
}

div.campaign-preview-title {
	border: 2px solid rgba(218, 209, 197, 1);
	border-radius: 8px 8px 0px 0px;
	padding: 10px;
	text-align: left;
	border-bottom: none;
	background-color: #fff8ef;
}

div.campaign-preview-first-row {
	border: 2px solid rgba(218, 209, 197, 1);
	padding: 20px 10px;
	background-color: #fff8ef;
	border-bottom: none;
}

div.campaign-preview-second-row,
div.campaign-preview-third-row {
	border: 2px solid rgba(218, 209, 197, 1);
	padding: 20px 10px;
	background-color: #fff8ef;
}

div.campaign-preview-first-row .skeleton-1,
div.campaign-preview-third-row .skeleton-1 {
	height: 15px;
	width: 150px;
	background-color: rgba(218, 209, 197, 1);
	border-radius: 8px;
}

div.campaign-preview-first-row .skeleton-2,
div.campaign-preview-third-row .skeleton-2 {
	height: 15px;
	width: 300px;
	background-color: rgba(218, 209, 197, 0.5);
	border-radius: 8px;
	margin-top: 10px;
}

div.campaign-preview-third-row {
	border-top: none;
	border-radius: 0px 0px 8px 8px;
}

div.campaign-preview-active-row {
	border-radius: 8px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 2.25rem;
}

.campaign-title {
	text-align: left;
	font-size: 32px;
	font-family: 'Bitter', serif;
	font-weight: 700;
}
.fm-content-outer-wrapper {
	height: 100vh;
}
.fm-content-wrapper {
	min-width: 1170px;
}

.stepper-container {
	justify-content: center;
}
