.accountPicker-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fairymail-logo-container{
        margin-top: 20px;
    }
    h3.accountPicker-header{
        margin-top:12vh;
        font-size: 32px;
        font-family: 'Bitter';
        font-weight:700;
    }
    .accounts-container{
        margin-top:30px;
        columns:2;            
        .account-info-card {
            margin-bottom:10px;
            min-width: 300px;
            text-align: left;;
			padding: 1em;
			font-family: 'Inter';
			line-height: 19px;
			align-items: center;
			display: flex;
			.account-info {
				display: flex;
				min-width: 200px;
                width: 100%;
				text-align: left;
				justify-content: space-between;
				align-items: center;
                div{
                    cursor: pointer;
                }
				h4 {
					font-size: 16px;
					font-weight: 500;
				}
				span {
					font-size: 14px;
					font-weight: normal;
				}
				svg path {
					fill: black;
				}
			}
			.account-info {
				cursor: pointer;
                svg{
                    margin-right:10px;
                    transform: scale(1.2);
                }
				svg:hover {
					transform: scale(1.4);
				}
			}
		}
    }
    @media(max-width:768px){
        .accounts-container{
            columns:1;   
        }
    }
}