.p-datatable {
	.p-paginator-page {
		border-radius: 4px;
		min-width: 32px;
		height: 32px;
		border: 2px solid rgba(218, 209, 197, 0.5);
		color: rgba(16, 15, 28, 1);
		font-size: 14px;
		font-weight: 500;
	}
	.p-paginator-page.p-highlight {
		background-color: rgba(255, 255, 255, 0.5);
		border: 2px solid rgba(218, 209, 197, 1);
	}

	.p-datatable-table {
		border-collapse: separate;
		border-spacing: 0px 30px;

		.p-datatable-thead > tr > th {
			color: rgba(136, 125, 118, 1);
			border-bottom: 2px solid rgba(218, 209, 197, 1);
			background-color: transparent;
			font-weight: 500;
		}

		.p-datatable-tbody > tr > td {
			border-top: 2px solid rgba(218, 209, 197, 1);
			border-bottom: 2px solid rgba(218, 209, 197, 1);
		}
		.p-datatable-tbody > tr > td:first-child {
			border: 2px solid rgba(218, 209, 197, 1);
			border-right: 0px;
			border-radius: 8px 0px 0px 8px;
		}

		.p-datatable-tbody > tr > td:last-child {
			border: 2px solid rgba(218, 209, 197, 1);
			border-left: 0px;
			border-radius: 0px 8px 8px 0px;
		}

		.p-datatable-tbody > tr {
			background: #fff8ef;
			height: 112px;
		}

		.p-datatable-tbody > tr > td {
			color: rgba(16, 15, 28, 1);
			padding: 12px;
		}
	}
}

